    <p><img src='$(image)' /></p>
    <p>DO NOT MISS !!!</p>
    <p>$(act1) stars as $(act1char1),</p>
    <p>in the new movie "$(titleEN)"</p>
    <p>$(sinopseEN)</p>
    <p>$(cat1EN)</p>
    <p>$(cat2EN)</p>
    <p>$(cat3EN)</p>
    <p>DESIRE IT! CRAVE IT!...</p>
    <p>ON $(dateEN), S E E . . .   "$(titleEN)" !!!</p>
